/*Header, Footer, Subtitle*/
.black-header {
	color: #000000; 
}

#author {
    float: right;
    font-size: 16px;
    color: #808080;
    margin-top: 20px;
}

footer {
	float: right;
    font-size: 10px;
    color: #aea0a0;
    margin-top: 20px;
}

#subtitle {
	font-style: italic;
    color: #808080;
}

/*Parts of the screen*/
#canvas {
  position: relative;
}

#middle-of-circle, #clock {
  position: absolute;
  top: 0px;
}

/*stacked graph*/
#hour-label {
  font: 10px sans-serif; 
  font-family: Arial;
}

/*for now axes horizontal dashes disabled
.axis line {
  stroke: #000; 
}*/

.axis path {
  fill: none;
  stroke: #000;
  display: none; /*for now no axes*/
}

.axis g text {
  display: none; /*for now no text on axes*/
}

/*clock*/
path {
  fill-rule: evenodd;
  fill: #aaa;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 1.5px;
}

/*time button*/
#time-button {
  background-color: transparent;
  width: 77px;
  top: 233px;
  left: 442px;
  position: absolute;
}